repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types_or: [python, pyi]

      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types_or: [python, pyi]

      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, pyi]

      - id: detect-secrets
        name: detect-secrets
        entry: detect-secrets-hook --baseline .secrets.baseline
        language: system
        pass_filenames: true
